<% include ./partials/header %>
<div class="pushable">
    <div id="title" class="ui inverted vertical masthead center aligned segment">
        <h1 id="header">Youtube Sync</h1>
    </div>

    <div class="pusher">
        <div class="ui vertical masthead center aligned segment">
            <form action="/" method="POST">
                <div id="inputForm" class="ui input focus">
                    <input required id="roomNameInput" type="text" name="roomName" placeholder="Enter room name">
                </div>
                <div id="createRoomButtonDiv">
                    <button id="createRoomButton" class="ui primary button">Create/Join Room</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<% include ./partials/footer %>