* { 
    margin: 0; padding: 0; box-sizing: border-box; 
}
body { 
    font: 13px Helvetica, Arial; 
}

#title {
    height: 40%;
    position: relative;
    background-image: linear-gradient(to bottom right, #246EB9, #F5EE9E);
}
#header {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#createRoomButtonDiv {
    margin: 1rem;
}
#createRoomButton {
    background-color: #EF8B73;
}
#inputForm {
    margin: 2rem;
}

#roomTitle {
    /* margin: 3rem; */
    padding-top: 30px;
}
#roomName {
    color: #3B5998;
}
.videoWrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    max-height: 500px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* max-width: 1000px;
    max-height: 563px; */
}